.sidebar {
  z-index: 999;
  width: 100vw;
  margin-top: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: #34495ec7;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.2s ease-in-out;
  & .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    // height: 350px;
    text-align: center;
    color: whitesmoke;
  }
  & .links * {
    cursor: pointer;
  }
}
