.sidebar {
  height: 90vh;
  width: 300px;
  background-color: #34495e;
  padding-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.2s ease-in-out;
  & .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    text-align: center;
    color: whitesmoke;
  }
  & .links * {
    cursor: pointer;
  }
}
