.sidebar {
  z-index: 999;
  position: absolute;
  height: 90vh;
  width: 300px;
  backdrop-filter: blur(5px);
  background-color: #34495ec7;
  padding-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.2s ease-in-out;
  & .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    text-align: center;
    color: whitesmoke;
  }
  & .links * {
    cursor: pointer;
  }
}
