.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border : 2px solid black;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  & .left-Section {
    width: 55vw;
    height: 100vh;
    overflow: hidden;
    flex: 4;
  }
  & .wallpaper {
    height: 100%;
    background-image: url("../../assets//images//computer.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 78px 86px -18px inset;
    transition: all 0.7s ease-in-out;
  }
  & .wallpaper:hover {
    transform: scale(1.1);
  }
  & .right-Section {
    flex:2;
    margin-left: 8rem;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .login-container {
      height: 330px;
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // border: 2px solid red;
    }
  }
}
